.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('css/about_us_pic3.JPG');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-family: 'Arsenal',cursive;
  color: Black;
  background-color: white;
  margin-bottom: 8px;
}

body {
  text-align:center;
  font-family: 'Arsenal', cursive;
  background-color: white;
  background-position-x: center;
  background-position-y:center;
  background-size:cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size:co;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
}

h1 {color: black;
  padding: 60px;
  font-family: "Arsenal", cursive;
}

p {color: black;
font-size: 20px;
font-weight: bold;
font-family: 'Arsenal', cursive;
}

.whiteBackground{
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-size: cover;
  background-attachment: fixed;
  background: white;
}
a {
  background-color: #00BFFF;
  

}
