.jumbotron {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url('css/Pictures/about_us_pic3.JPG');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arsenal';cursive;
}

.jumbotron h1 {
  font-family: 'Arsenal';cursive;
  color: Black;
  background-color: #fff2e6;
  margin-bottom:5px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 10px;
  border-left-width: 10px;
  border-color: white;
  border-style: solid;

}

body {
  text-align:center;
  background-color:white ;
  background-position-x: center;
  background-position-y:center;
  background-size:cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size:co;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
}

h1 {
  font-family: 'Arsenal'; cursive;
  color: black;
  padding: 60px;
}
h2{
  font-family: 'Arsenal'; cursive;
  color: black;
}

p {
font-family: 'Arsenal'; cursive;
color: black;
font-size: 20px;


}

.whiteBackground{
  padding-top: 90px;
  min-height: 350px;
  margin-bottom: 0;
  background-size: cover;
  background-attachment: fixed;
  background: #fff2e6;
  border-top-width: 10px;
  border border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-style: solid;
  border-color: white;
  font-family: 'Arsenal';cursive;

}
a {
  background-color: #00BFFF;


}
form{
  font-family: 'arsenal';cursive;
  color:black;
}
